PUBLIC_START_TIME="2024-01-01T00:00:00Z"

# These are not required for the app to run, only needed for some "npm run" commands.
CLOUDFLARE_ZONE_ID=your_cloudflare_zone_id_here
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here
OPENAI_API_KEY=your_openai_api_key_here
