PUBLIC_START_TIME="2024-01-01T00:00:00Z"

PUBLIC_GISCUS_REPO="YOUR_GITHUB_USERNAME/YOUR_REPO_NAME"
PUBLIC_GISCUS_REPO_ID="YOUR_REPO_ID"
PUBLIC_GISCUS_CATEGORY="Comments"
PUBLIC_GISCUS_CATEGORY_ID="YOUR_CATEGORY_ID"

# These are not required for the app to run, only needed for some "npm run" commands.
CLOUDFLARE_ZONE_ID=your_cloudflare_zone_id_here
CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here
OPENAI_API_KEY=your_openai_api_key_here
